<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@300;700&family=Poppins:wght@300&family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="topbar"><a href="/">acceuil</a></div>
    <a href="{{ url_for('sign') }}">Inscription</a>
    <a href="{{ url_for('login') }}">Connexion</a>

</body>
</html>

